$blue-default: #3563E9;
$blue-100: #D6E4FD;
$blue-200: #AEC8FC;
$blue-300: #85A8F8;
$blue-400: #658DF1;
$blue-500: #3563E9;
$blue-600: #264BC8;
$blue-700: #1A37A7;
$secondary-100: #E0E9F4;
$secondary-200: #C3D4E9;
$secondary-300: #90A3BF;
$secondary-400: #596780;
$secondary-500: #1A202C;
$secondary-600: #131825;
$info-200: #BAE5FF;
$info-500: #54A6FF;
$info-600: #3D81DB;
$info-700: #2A60B7;
$red-color: #DB2719;