-
  var cars = [
    {number: "0",name: "Koenigsegg",category: "Sport",largeImg: "popular01.png",gas: "90",steeringWheel: "Manual",passengers: "2",price: "99.00"},
    {number: "1",name: "Nissan GT- R",category: "Sport",largeImg: "popular02.png",gas: "80",steeringWheel: "Manual",passengers: "2",price: "80.00",discount: "100.00"},
    {number: "2",name: "Rolls - Royce",category: "Sedan",largeImg: "popular03.png",gas: "70",steeringWheel: "Manual",passengers: "4",price: "96.00"},
    {number: "3",name: "Nissan GT- R Silver",category: "Sport",largeImg: "popular02.png",gas: "80",steeringWheel: "Manual",passengers: "2",price: "80.00",discount: "100.00"},
    {number: "4",name: "All New Rush",category: "SUV",largeImg: "recomendation01.png",mobileImg: "recomendation-mobile01.png",gas: "70",steeringWheel: "Manual",passengers: "6",price: "72.00",discount: "80.00"},
    {number: "5",name: "CR - V Dark Brown",category: "SUV",largeImg: "recomendation02.png",mobileImg: "recomendation-mobile02.png",gas: "80",steeringWheel: "Manual",passengers: "6",price: "80.00"},
    {number: "6",name: "All New Terios",category: "SUV",largeImg: "recomendation03.png",mobileImg: "recomendation-mobile03.png",gas: "90",steeringWheel: "Manual",passengers: "6",price: "74.00"},
    {number: "7",name: "CR - V Black",category: "SUV",largeImg: "recomendation04.png",mobileImg: "recomendation-mobile04.png",gas: "80",steeringWheel: "Manual",passengers: "6",price: "80.00"},
    {number: "8",name: "MG ZX Exclusice One",category: "Hatchback",largeImg: "recomendation05.png",mobileImg: "recomendation-mobile05.png",gas: "70",steeringWheel: "Manual",passengers: "4",price: "76.00",discount: "80.00"},
    {number: "9",name: "New MG ZS One",category: "SUV",largeImg: "recomendation06.png",mobileImg: "recomendation-mobile06.png",gas: "80",steeringWheel: "Manual",passengers: "6",price: "80.00"},
    {number: "10",name: "MG ZX Exclusice Two",category: "Hatchback",largeImg: "recomendation07.png",mobileImg: "recomendation-mobile07.png",gas: "70",steeringWheel: "Manual",passengers: "4",price: "76.00",discount: "80.00"},
    {number: "11",name: "New MG ZS Two",category: "SUV",largeImg: "recomendation08.png",mobileImg: "recomendation-mobile08.png",gas: "80",steeringWheel: "Manual",passengers: "6",price: "80.00"}
  ]