-
  var links = [
    {title: "About", link1: "How it works", link2: "Featured", link3: "Partnership", link4: "Bussiness Relation"},
    {title: "Community", link1: "Events", link2: "Blog", link3: "Podcast", link4: "Invite a friend"},
    {title: "Social", link1: "Discord", link2: "Instagram", link3: "Twitter", link4: "Facebook"},
  ]