-
  var koenigsegg = {number: "0",name: "Koenigsegg",category: "Sport",img: "popular01.png",gas: "90",steeringWheel: "Manual",passengers: "2",price: "99.00"}
  var nissanGTR = {number: "1",name: "Nissan GT- R",category: "Sport",img: "popular02.png",gas: "80",steeringWheel: "Manual",passengers: "2",price: "80.00",discount: "100.00"}
  var rollsRoyce = {number: "2",name: "Rolls - Royce",category: "Sedan",img: "popular03.png",gas: "70",steeringWheel: "Manual",passengers: "4",price: "96.00"}
  var nissanGTRSilver = {number: "3",name: "Nissan GT- R Silver",category: "Sport",img: "popular02.png",gas: "80",steeringWheel: "Manual",passengers: "2",price: "80.00",discount: "100.00"}