doctype html
html(lang="en")
  include ../includes/_pageHead
  body 
    include ../includes/variables/_links
    include ../includes/sections/_header
    div(class="details-page d-flex")
      include ../includes/sections/_aside
      main.cars-details-page
        include ../includes/sections/_customize
        div(class="recomendation-cars list d-grid gap-30")
    include ../includes/sections/_footer
    script(src="dist/main.js")