doctype html
html(lang="en")
  include ../includes/_pageHead
  body
    include ../includes/sections/_header
    .notis-page.container 
      .title.mb-30.pr-20.pl-20
        span.d-flex.align-center.p-relative.fw-bold Notifications
        //- p.fs-14.m-0.ml-31 Over here you will get all the notifications and updates about your activities
      .notis-holder.d-grid.gap-30
    include ../includes/sections/_footer
    script(src="dist/main.js")