aside
  div(class="cars-list mb-30 mt-50 pr-20 fw-semi-bold fs-16")
    h4(class="m-0 fs-14") Type
  form(action="" class="types d-flex")
    div
      input(type="checkbox", name="sport", id="sport", class="category", data-category="Sport", checked)
      label(for="sport") Sport
    div
      input(type="checkbox", name="SUV", id="SUV", class="category", data-category="SUV", checked)
      label(for="SUV") SUV
    div
      input(type="checkbox", name="MPV", id="MPV", class="category", data-category="MPV", checked)
      label(for="MPV") MPV
    div
      input(type="checkbox", name="sedan", id="sedan", class="category", data-category="Sedan", checked)
      label(for="sedan") Sedan
    div
      input(type="checkbox", name="coupe", id="coupe", class="category", data-category="Coupe", checked)
      label(for="coupe") Coupe
    div
      input(type="checkbox", name="hatchback", id="hatchback", class="category", data-category="Hatchback", checked)
      label(for="hatchback") Hatchback
  div(class="cars-list mb-30 mt-50 pr-20 fw-semi-bold fs-16")
    h4(class="m-0 fs-14") Capacity
  form(action="" class="types d-flex")
    div
      input(type="checkbox", name="two-persons", id="two-persons", class="passengers", data-passengers="2", checked)
      label(for="two-persons") 2 Persons
    div
      input(type="checkbox", name="four-persons", id="four-persons", class="passengers", data-passengers="4", checked)
      label(for="four-persons") 4 Persons
    div
      input(type="checkbox", name="six-persons", id="six-persons", class="passengers", data-passengers="6", checked)
      label(for="six-persons") 6 Persons
    div
      input(type="checkbox", name="eight-or-more", id="eight-or-more", class="passengers", data-passengers="8", checked)
      label(for="eight-or-more") 8 or More
  div(class="cars-list mb-30 mt-50 pr-20 fw-semi-bold fs-16")
    h4(class="m-0 fs-14") Price
  form(action="")
    input(type="range", name="price", min="72", max="110", step="2", value="100", class="slider", oninput="slider()")
    p(class="slider-value fs-20 fw-semi-bold") Max: $100.00