div(class="customization between-flex mt-40 p-relative")
  div(class="pick-up rad-10")
    h3(class="m-0 p-relative d-flex align-center") Pick - Up
    div(class="options mt-20 d-grid gap-30")
      div(class="option")
        h4(class="m-0 mb-10") Locations
        div(class="select between-flex")
          span.fs-12 Select your city
          i(class="fa-solid fa-angle-down fs-12")
      div(class="option")
        h4(class="m-0 mb-10") Date
        div(class="select between-flex")
          span.fs-12 Select your date
          i(class="fa-solid fa-angle-down fs-12")
      div(class="option")
        h4(class="m-0 mb-10") Time
        div(class="select between-flex")
          span.fs-12 Select your time
          i(class="fa-solid fa-angle-down fs-12")
  div(class="switch center-flex w-65 h-70 rad-10")
    i(class="fas fa-sync-alt fs-23")
  div(class="drop-off rad-10")
    h3(class="m-0 p-relative d-flex align-center") Drop - Off
    div(class="options mt-20 d-grid gap-30")
      div(class="option")
        h4(class="m-0 mb-10") Locations
        div(class="select between-flex")
          span.fs-12 Select your city
          i(class="fa-solid fa-angle-down fs-12")
      div(class="option")
        h4(class="m-0 mb-10") Date
        div(class="select between-flex")
          span.fs-12 Select your date
          i(class="fa-solid fa-angle-down fs-12")
      div(class="option")
        h4(class="m-0 mb-10") Time
        div(class="select between-flex")
          span.fs-12 Select your time
          i(class="fa-solid fa-angle-down fs-12")