header(class="")
  div(class="container between-flex")
    div(class="left-side d-flex align-center")
      a(href="index.html" class="large logo") MORENT
      diV(class="search d-flex align-center p-relative")
        |
        |
        i(class="fa-solid fa-magnifying-glass p-absolute fs-20")
        input(type="text", class="h-45 rad-20 b-none ml-60 w-550 pl-50 pr-50" placeholder="Search something here")
        |
        |
        i(class="fa-solid fa-sliders p-absolute fs-20 pointer details")
    .right-side
      div(class="icons d-flex align-center rounded w-50 h-50 between-flex w-full")
        a(href="index.html" class="mobile logo") MORENT
        a(href="favourites.html"): i(class="fa-solid fa-heart rounded w-44 h-44 fs-20 icon mr-15")
        .notifications(class="notifications p-relative mr-15")
          a: i(class="fa-solid fa-bell rounded w-44 h-44 fs-20 icon")
        a: i(class="fa-solid fa-gear rounded w-44 h-44 fs-20 mr-15 icon")
        img(src="imgs/avatar.png")